<header class="site-header">

<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family=Ubuntu%20Mono:regular,bold&subset=Latin" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Ubuntu:light,regular,bold&subset=Latin" rel="stylesheet" type="text/css">



<div class="head-class container">
    <div class="row ">
      
        <div class="container header col-xs-12">
            <div class="logo col-xs-1 col-xs-4-offset-1">
               <h2>وب سایت شخصی حمیده طبی</h2> 
          </div>
            <div class="col-xs-4 col-xs-offset-5">
                <ul class="list-inline">
                    <li href=""> صفحه اصلی </li>
                    <li href="howitworks"> آموزش PHP </li>
                    <li href="login"> درباره من </li>
               <!--     <li href="contact"> Contact </li>  -->
                </ul>
            </div>
        </div>
        
        <div class="col-xs-12"></div>
        <div class="header-text">
           <h2> آموزش PHP</h2>
        </div>
        
        <div class="header-register">
         <!--   <a href="login" class="btn btn-default">Get started</a>   -->
        </div>
        
  </div>
</div>


    
</header>
