<header class="site-header">

<div class="head-class container">
    <div class="row ">
      <div class="header-text">
               <h1>وب سایت شخصی حمیده طبی</h1> 
           <h2> آموزش PHP</h2>
        </div>
      
        <div class="container header col-xs-12">
                        <div class="col-xs-4 col-xs-offset-5">
                <ul class="list-inline">
                    <li>
                        <a href="{{site.url}}/about.html">صفحه اصلی</a>
                    </li>
                    <li>
                        <a href="#">آموزش PHP</a>
                    </li>
                    <li>
                        <a href="#">درباره من</a>
                    </li>               </ul>
            </div>
        </div>        
  </div>
</div>
    
</header>
